
<div class="search">
    <input  class="searchInput" type="text" placeholder="search your favorite food" id="recipeSearch"  [(ngModel)]="searchItem" >
    <button class="searchButton" (click)="searchFood()">Search</button>
</div>

<ul>
    <li *ngFor="let food of foodItems">
        
        <img class="image-class" src="{{food.imageUrl}}" alt="food Image">
        <div class="content">
            <div class="name">
                {{food.recipeName}}
              
            </div>
            <div class="description">
             {{food.description}}
            </div>
            <div class="cook-time">
                <span>🕑</span>
                {{food.cookTime}}
            </div>
            <div class="price">
                {{ food.price | currency:'INR'}}
            </div>
        </div>
        <div>
            
            <button class="btn btn-info" (click)="saveToCart(food.recipeId)"  [disabled]="!islogin">{{clicked ? 'Added' : 'Add'}}</button>
            
            <!-- <input type="submit" value="Add to Cart" class="cart-button" on-click='saveToCart(food.RecipeId)'> -->
            
            <button  class="btn btn-warning" (click)="confirmOrder(food.recipeId)" [disabled]="!islogin">Order</button>
            
        </div>
    </li>
</ul>

<!--
<div class="container">
    <div class="box" *ngFor = "let food of foodItems">
        <div class="_card" >
            
            <img src={{food.imageUrl}} alt="">
            <p>{{food.recipeName}}</p>
            <p>{{food.description}}</p>
            <p>{{food.cookTime}}</p>
            <p>{{ food.price | currency:'INR'}}</p>
            <button class="btn btn-info" (click)="saveToCart(food.recipeId)" >{{clicked ? 'Added' : 'Add'}}</button>
            <button  class="btn btn-warning" (click)="confirmOrder(food.recipeId)">Order</button>
        </div>

    </div>
</div>-->