ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
/*
ul li a{
    height: 23em;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    text-decoration: none;
    
}*/
ul li {
   
    width: 13rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
   margin: 1rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
     overflow: hidden; 
    color: #e72929;
    text-decoration: none;
    list-style-type: none;
}
li a :hover{
    opacity: 0.9;
    cursor: pointer;
}

.description{
    color: black;
    font-size: 12px;
}

.content{
    /* padding: 5rem 1rem; */
    position: relative
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favorite.not{
    color: black
}

.cook-time{
    font-size: .8em;
    flex:3;
}

.price{
    color: #424242;
    margin-top: .2rem
}



.cart-button{
    cursor: pointer;
    background-color: #e72929;
    color: white;
    border:none;
    font-size: 1rem;
}

.delete-order{
    cursor: pointer;
    background-color: #e72929;
    color: white;
    border:none;
    font-size: 1rem;
    margin: 20px;
    font-size: 13px;
    border-radius: 4px 4px 4px 4px;
}

.class-order{
  
       text-align: center;
       padding: 20px;
       color: #e72929;
}

.image-class{
    height: 200px;
    width: 200px;
}