ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 23em;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
     overflow: hidden; 
    /*color: #e72929;*/
    text-decoration: none;
}
li a :hover{
    opacity: 0.8;
    cursor: pointer;
}

.description{
    color: black;
    font-size: 12px;
}

.content{
    /* padding: 5rem 1rem; */
    position: relative
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favorite.not{
    color: black
}

.cook-time{
    font-size: .8em;
    flex:3;
}

.price{
    color: #424242;
    margin-top: .2rem
}



.cart-button{
    cursor: pointer;
    background-color: #e72929;
    color: white;
    border:none;
    font-size: 13px;
    border-radius: 4px 4px 4px 4px;
    
}

.delete-cart{
    cursor: pointer;
    background-color: #e72929;
    color: white;
    border:none;
    font-size: 1rem;
    margin: 20px;
    font-size: 13px;
    border-radius: 4px 4px 4px 4px;
}


.image-class{
    height: 200px;
    width: 200px;
}

.cart-item{
    text-align:center;
    padding:30px;
    color: #e72929;
   
}